/* RESET STYLES */

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* FONTS */

@font-face {
  font-family: "roboto-mono";
  src: url(../assets/RobotoMono.ttf);
}

/* STYLES */

* {
  font-family: "roboto-mono", monospace;
  font-size: 1rem;
  color: #333;
}

.hidden {
  display: none;
}

.hamburgerMenu:hover {
  cursor: pointer;
}

.hamburgerMenu div {
  width: 35px;
  height: 5px;
  background-color: whitesmoke;
}

.hamburgerMenu div:first-of-type {
  margin-bottom: 6px;
}

.hamburgerMenu div:last-of-type {
  margin-top: 6px;
}

nav {
  background-color: rgb(145, 0, 0);
  align-items: center;
  padding-right: 4vw;
  height: 70px;
  display: flex;
  justify-content: flex-end;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  gap: 5vw;
}

.langButton {
  background-color: #00000000;
  border: 0;
  width: 48px;
  margin: 6px 10px 0 0;
  cursor: pointer;
}

.currentLang {
  border: 2px solid rgba(245, 245, 245, 0.473);
  border-radius: 5px;
}


li {
  list-style: none;
}

li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
}

.modal {
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  width: 100%;
  height: 40%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal button {
  background-color: #00000000;
  color: whitesmoke;
  border: none;
  font-size: x-large;
  position: absolute;
  top: 0;
  right: 4px;
}

.menuList {
  display: none;
}

.modalList {
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  padding-right: 50px;
  padding-top: 70px;
}

.hero {
  background: #333 url("../assets/hero.jpg");
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero > a > button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.hero > a > button:hover {
  box-shadow: -3px -3px 5px 0px rgba(245, 245, 245, 0.7);
}

h1,
.hero > h2 {
  color: whitesmoke;
  text-align: center;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.hero > h2 {
  font-size: 2rem;
}

#contact > h2 {
  margin-bottom: 18px;
}

#about {
  background-image: url("../assets/bg.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 0 60px 0;
}

.picContainer {
  background: rgb(194, 194, 194);
  width: 300px;
  box-shadow: -18px -24px rgb(145, 0, 0), -26px -32px 8px rgb(121, 121, 121);
}

.fullImageLink {
  text-align: center;
  font-size: 0.8rem;
}

.aboutDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  max-width: 300px;
}

.aboutDetail p {
  text-align: center;
}

.aboutDetail h3 {
  font-size: 1.8rem;
}

#skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  background-color: rgba(194, 194, 194, 0.096);
}

.sectionTitle {
  text-align: center;
}
.skillsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  list-style-type: none;
  gap: 12px;
  padding: 12px 0;
  max-width: 800px;
}

.skill {
  font-size: 1.2rem;
  font-weight: 600;
  flex: 1 1 60px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgb(145, 0, 0);
  color: whitesmoke;
  padding: 8px 12px;
  text-align: center;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px 0 40px;
}

#projects article {
  margin-bottom: 124px;
  max-width: 1048px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/bg.svg");
  background-color: rgba(194, 194, 194, 0.171);
  border-radius: 5px;
  padding: 24px;
}

#projects article:last-of-type {
  margin-bottom: 60px;
}

#projects article > div:first-of-type {
  margin-bottom: 20px;
}

#projects article > div > a > img {
  margin-bottom: 20px;
}

.projectTitle {
  font-size: 1.4rem;
  margin: 0px 20px;
  text-align: center;
}

.projectImage {
  max-width: 80vw;
}

.projectDescription {
  text-align: center;
  margin: 20px 0;
  max-width: 80vw;
}

#contact,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px;
  gap: 20px;
  background-color: rgba(194, 194, 194, 0.096);
  text-align: center;
}

footer {
  padding: 0 0 20px 0;
}

#contact > p {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.contactMethods {
  display: flex;
  gap: 24px;
}

.project-list > li {
  
  list-style: circle !important;
}

.project-list > li {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  
}

.project-list {
  margin: 20px 0;
}

.live-link {
  color: #333;
  font-weight: 600;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .hamburgerMenu {
    display: none;
  }
  .menuList {
    display: flex;
  }
  .modal {
    display: none;
  }

  .aboutDetail {
    max-width: 500px;
  }
}

@media (min-width: 1000px) {
  .projectDescription {
    max-width: 800px;
  }
}
